<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <IncludeTestAssembly>True</IncludeTestAssembly>
          <CodeCoverage>
            <Sources>
              <Include>
                <Source>.*[\\/]src[\\/]Driftya\.SpriteAtlasForge\.ClientApplication[\\/].*</Source>
              </Include>
            </Sources>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
